<section class="hero-section" id="home">
    <div class="container hero-container">
        <h1 class="visually-hidden">Triple Chili</h1>
        <picture>
            <source srcset="
                            /img/hero/logo-desk.png 1x,
                            /img/hero/logo-desk@2x.png 2x
                                 " media="(min-width: 1439px)" />
            <source srcset="
                            /img/hero/logo-mob.png  1x,
                            /img/hero/logo-mob@2x.png 2x
                                 " media="(max-width: 1438px)" />
            <img class="hero-logo" src="/img/hero/logo-mob.png" alt="Triple Chili" loading="lazy" />
        </picture>
        <h2 class="hero-subtitle">Heat That Never Sleeps</h2>
        <p class="hero-text">Think ancient Mayan temples meet spicy New World peppers – that's the vibe we're going for here.</p>
        <a class="hero-button" href="#demo">
            <picture>
                <source srcset="
        /img/hero/desk-btn.png 1x,
        /img/hero/desk-btn@2x.png 2x
             " media="(min-width: 1439px)" />
                <source srcset="
       /img/hero/mob-btn.png  1x,
       /img/hero/mob-btn@2x.png 2x
             " media="(max-width: 1438px)" />
                <img class="hero-btn pulse" src="/img/hero/mob-btn.png" alt="Enter" loading="lazy" />
            </picture>
        </a>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container disclaimer-container">
        <h2 class="disclaimer-title">DISCLAIMER</h2>
        <p class="disclaimer-text"><span class="span">autogridbox.space</span>  IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE
        SAME AS WINNING IN REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME.</p>
</section>
<section class="about-section">
    <div class="container about-container">
    <h2 class="visually-hidden"> About Triple Chili</h2>
    <div class="about-text-wrapper">
       <picture>
            <source srcset="
            /img/about/desk-two.png 1x,
            /img/about/desk-two@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/about/mob-two.png  1x,
            /img/about/mob-two@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="about-img" src="/img/about/mob-two.png" alt="Fire" loading="lazy" />
        </picture>
        <p><span class="about-span">Triple Chili's</span>got this cool Mayan/ Aztec thing going on - simple to play but the visuals really pop. <br/>With <span class="about-span">5 reels, 8 rows, and 60 paylines,</span> you'll never have a dull moment - something's always spinning or lighting up.<br/>Those peppers are seriously bright -
        almost hurt your eyes in a good way. And the fruits? They just jump out at you against all that temple stone.</p>
        <p>The game’s standout symbol is the pyramid marked with Wild — the most valuable one.
        Max potential: x6000, presented as a natural peak of the experience, not a “reward.”</p>
    </div>
    </div>
</section>
<section class="demo-section" id="demo">
    <div class="container demo-container">

        <h2 class="visually-hidden">Play</h2>

        <div class="demo-wrapper">
            <picture>
                <source srcset="
                                /img/demo/demo-desk.png 1x,
                                /img/demo/demo-desk@2x.png 2x
                                " media="(min-width: 1439px)" />
                <source srcset="
                                /img/demo/demo-mob.png  1x,
                                /img/demo/demo-mob@2x.png 2x
                                " media="(max-width: 1438px)" />
                <img class="game-img" src="/img/demo/demo-mob.png" alt="Triple Chili" loading="lazy" />
            </picture>


            <div class="iframe-wrapper">
                <iframe id="gameIframe"></iframe>

                <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                    <img src="/img/demo/close.png" alt="Close">
                </button>
            </div>
        </div>
        <a class="demo-btn" href="#" data-game-url="https://demo.evoplay.games/demo/fullstate/html5/evoplay/triplechili"
            target="gameIframe">
            <img class="demo-img" src="/img/demo/btn.png" alt="Play Free" loading="lazy" />

        </a>
    </div>
</section>