body{
  background: #001b00;
  font-family: "Khula", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #fff;
}
h2{
  font-family: "Candal", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.18182;
    text-align: center;
    color: #fffafa;
}
