.footer-navigation{
  display: flex;
  font-family: "Khula", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33333;
    color: #42ad1e;
    gap: 4px;
    justify-content: center;
}
.footer-text{
  margin-top: 28px;
  font-family: "Khula", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.6;
    color: #42ad1e;
    text-align: center;
}
@media only screen and (min-width: 1440px) {
  .footer-container{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 177px;
    align-content: center;
  }
  .footer-text{
    margin-top: 0;
  }
  .footer-navigation{
    font-size: 16px;
  }
}