.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background: rgba(0, 53, 23, 0.8);
  height: 64px;
  width: 100%;

}

.header-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: inherit;
  margin-right: 10px;
  margin-left: auto;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
background: rgba(6, 24, 14, 0.96);
  padding: 90px 41px;
  backdrop-filter: blur(4px);

  width: 374px;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
}


.menu-list-item {
  position: relative;
  padding-right: 36px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease;
}
/* иконка */
.menu-list-item::after {
  content: "";
  position: absolute;
  right:0;
  top: 50%;
  transform: translateY(-50%) scale(0.8);
  width: 24px;
  height: 24px;

  background-image: url("/img/header/fire.png");

  background-size: contain;
  background-repeat: no-repeat;

  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

/* hover */
.menu-list-item:hover::after,
.menu-list-item:focus::after,
.menu-list-item.active::after {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
.menu-list-item:hover,
.menu-list-item:focus,
.menu-list-item.active {
font-weight: 700;
}

@media screen and (min-width: 1440px) {
  .header {
    width: 100%;
    height: 87px;
    background: rgba(1, 92, 40, 0.8);
  }

  .header-container {
    padding: 22px 80px;
    justify-content: space-between;
    align-items: center;
  }


  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }


  .navigation-item {
    border-radius: 20px;

  font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .links {
      position: relative;
      padding-left: 36px;
      display: inline-block;
      text-decoration: none;
      transition: all 0.2s ease;
    }
  
    /* иконка */
    .links::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%) scale(0.8);
      width: 24px;
      height: 24px;
  
      background-image: url("/img/header/fire.png");
  
      background-size: contain;
      background-repeat: no-repeat;
  
      opacity: 0;
      transition: opacity 0.2s ease, transform 0.2s ease;
    }
  
    /* hover */
    .links:hover::before,
    .links:focus::before,
    .links.active::before {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  
    .links:hover,
    .links:focus,
    .links.active {
      font-weight: 700;
    }

}