.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    
}
.hero-logo{
    margin: 58px auto 12px;
}
.hero-subtitle{
        font-size: 48px;
        line-height: 1.16667;
        text-align: center;
}
.hero-text{
    margin-top: 13px;
        font-size: 20px;
        line-height: 1.4;
        text-align: center;
        margin-bottom: 20px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
    width: 290px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.hero-container{
    padding-bottom: 136px;
}
@media only screen and (min-width: 1440px) {
.hero-section{
    background-image: url("/img/hero/desk.png");
}
.hero-logo{
    margin-top: 88px;
    margin-bottom: 22px;
}
.hero-container{
    padding-bottom: 72px;
}
.hero-subtitle{
        font-size: 68px;
        line-height: 1.17647;
}
.hero-text{
    margin: 28px auto;
    font-size: 28px;
        line-height: 1.42857;
        width: 816px;
}
}
/* Disclaimer section styles           */
.disclaimer-section{
    background: #00910a;
}
.disclaimer-container{
    padding-top: 40px;
    padding-bottom: 40px;
}
.disclaimer-title{
    text-align: left;
    font-size: 36px;
    line-height: 1.11111;
}
.disclaimer-text{
    margin-top: 6px;
    font-family: "Khula", sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.33333;
        text-transform: uppercase;
}
.span{
    color: #eeff06;
}
@media only screen and (min-width: 1440px) {
    .disclaimer-text{
        font-size: 36px;
    }
}